(
    probabilities: {
        "Provisions": 0.5,
        "Supplies": 0.25,
        "Armor": 0.125,
        "Weapons": 0.125,
    },
    provisions_kinds: [
        "Fish",
        "Bread",
        "Soup",
        "Venison",
        "Jerky",
        "Berries",
        "Pemmican",
    ],
    supplies_kinds: [
        "Primal Symbol",
        "Candle",
        "Chalk",
        "Clay",
        "Mug",
        "Oil",
        "Pinwheel",
        "Piton",
        "Sack",
        "Ten-Foot Pole",
        "Torch",
        "Bedroll",
        "Soap",
        "Ball",
        "Ladder (10ft)",
        "Kite",
        "Bandalore",
        "Flint and Steel",
        "Mask (Ordinary)",
        "Waterskin",
        "Air Bladder",
        "Backpack",
        "Basic Crafter's Book",
        "Blocks",
        "Clothing (Explorer's)",
        "Clothing (Ordinary)",
        "Disguise Kit (Replacement Cosmetics)",
        "Doll",
        "Earplugs",
        "Firearm Cleaning Kit",
        "Grappling Hook",
        "Hammer",
        "Powder",
        "Religious Symbol (Wooden)",
        "Shield Sconce",
        "Silencer",
        "Tracking Tag",
        "Writing Set (Extra Ink and Paper)",
        "Grappling Arrow",
        "Grappling Bolt",
        "Lock (Poor)",
        "Marbles",
        "Merchant's Scale",
        "Practice Targets",
        "Puzzle Box (Simple)",
        "Saddlebags",
        "Tripod",
        "Waterproof Carrying Case",
        "Caltrops",
        "Manacles (Poor)",
        "Sifting Pan",
        "Thieves' Toolkit (Replacement Picks)",
        "Clothing (Desert)",
        "Clothing (Winter)",
        "Tool (Short)",
        "Animal Call",
        "Climbing Kit",
        "Crowbar",
        "Dueling Cape",
        "False-Bottomed Mug",
        "Games",
        "Material Component Pouch",
        "Oilskin Pouch",
        "Parrying Scabbard",
        "Playing Cards",
        "Rope",
        "Ruler",
        "Tear-Away Clothing",
        "The Old Mage Deck",
        "Toy Carriage",
        "Waffle Iron",
        "Wheelbarrow",
        "Chest",
        "Flower Press",
        "Lantern (Hooded)",
        "Fishing Tackle",
        "Musical Instrument (Handheld)",
        "Tent (Pup)",
        "Brass Ear",
        "Compass",
        "Cookware",
        "Depth Gauge",
        "Fake Blood Pack",
        "Formula Book (Bank)",
        "Harrow Carrying Case",
        "Harrow Deck (Simple)",
        "Lantern (Bull's Eye)",
        "Marked Playing Cards",
        "Mirror",
        "Net",
        "Paint Set",
        "Religious Text",
        "Rubbing Set",
        "Shootist Bandolier",
        "Spellbook (Blank)",
        "Tool (Long)",
        "Trundle Wheel",
        "Wax Key Blank",
        "Writing Set",
        "Adventurer's Pack",
        "Traitor's Ring",
        "Armored Skirt",
        "Catch Pole",
        "Clothing (Fine)",
        "Disguise Kit",
        "Extendible Pincer",
        "Jellyfish Lamp",
        "Mask (Fine)",
        "Musical Instrument (Heavy)",
        "Plated Duster",
        "Religious Symbol (Silver)",
        "Repair Toolkit",
        "Alchemist's Toolkit",
        "Comealong",
        "Concealment Coin",
        "Folding Ladder",
        "Grappling Gun",
        "Hollowed Hilt",
        "Hourglass",
        "Thieves' Toolkit",
        "Artisan's Toolkit",
        "Chain",
        "Tack",
        "Alchemist's Lab",
        "Animal Blind",
        "Buoyancy Vest",
        "Familiar Satchel",
        "Glass Cutter",
        "Healer's Toolkit",
        "Knight's Standard",
        "Membership Cords",
        "Pelagic Helmet",
        "Snare Kit",
        "Swim Fins",
        "Tent (Four-Person)",
        "Water Purifier",
        "Harrow Mat",
        "Barding (Light; Small or Medium)",
        "False Manacles",
        "Field Guide",
        "Harrow Deck (Common)",
        "Snowshoes",
        "Harrow Deck (Fine)",
        "Barding (Light; Large)",
        "Clockwork Dial",
        "Spyglass",
        "Polar Travel Kit",
        "Barding (Heavy; Large)",
        "High-Contrast Goggles",
        "Atmospheric Breathing Suit",
        "Puzzle Box (Hollow)",
        "Surprise Doll",
        "Lock (Simple)",
        "Magnetic Construction Set",
        "Puzzle Box (Complex)",
        "Waffle Iron (Imprint)",
        "Manacles (Simple)",
        "Replacement Filter (Level 1)",
        "Ignitor",
        "Loaded Dice",
        "Mask (Rubber)",
        "Waterproof Journal",
        "Traveler's Cloak",
        "Communication Bangle",
        "Floating Tent (Pup)",
        "Glittering Scarab",
        "Mask (Plague)",
        "Mechanical Torch",
        "Poison Ring",
        "Sibling's Coin",
        "Timepiece (Desktop Clock)",
        "Clockwork Bookshelf",
        "Clockwork Megaphone",
        "Deployable Cover",
        "Grappling Gun (Clockwork)",
        "Net Launcher",
        "Blade Launcher",
        "Bomb Launcher",
        "Swarmsuit",
        "Quick-change Outfit",
        "Toy Carriage (Windup)",
        "Writ of Authenticity",
        "Exquisite Surprise Doll",
        "Portable Animal Blind",
        "Barding (Heavy; Small or Medium)",
        "Book of Translation (Standard)",
        "Experimental Clothing",
        "Floating Tent (Four-person)",
        "Periscope",
        "Pocket Watch",
        "Wrist Grappler",
        "Astrolabe (Standard)",
        "Day Goggles",
        "Paper Shredder",
        "Sturdy Satchel",
        "Deployable Cover (Ballistic Cover)",
        "Tent (Pavilion)",
        "Disguise Kit (Elite Cosmetics)",
        "Thieves' Toolkit (Infiltrator Picks)",
        "Scholarly Journal",
        "Camouflage Suit",
        "Puzzle Box (Challenging)",
        "Recovery Bladder",
        "Survey Map",
        "Knight's Tabard",
        "Lock (Average)",
        "Scroll Belt",
        "Compass (Lensatic)",
        "Cowbar (Levered)",
        "Fishing Tackle (Professional)",
        "Manacles (Average)",
        "Portable Ram",
        "Smoked Goggles",
        "Concealed Holster",
        "Concealed Sheath",
        "Detective's Kit",
        "Portable Altar",
        "Repair Toolkit (Superb)",
        "Fingerprinting Kit",
        "Handcuffs (Average)",
        "Rappelling Kit",
        "Scholarly Journal (Compendium)",
        "Climbing Kit (Extreme)",
        "Disguise Kit (Elite)",
        "Magnifying Glass",
        "Wrist Grappler (Clockwork)",
        "Cartographer's Kit",
        "Electrocable",
        "Artisan's Toolkit (Sterling)",
        "Astrolabe (Mariner's)",
        "Clockwork Box Packer",
        "Giant Catch Pole",
        "Healer's Toolkit (Expanded)",
        "Hoax-Hunter's Kit",
        "Music Instrument (Virtuoso Handheld)",
        "Survey Map (Atlas)",
        "Thieves' Toolkit (Infiltrator)",
        "Timepiece (Grand Clock)",
        "Wind-up Wings (Flutterback)",
        "Wrenchgear",
        "Alchemist's Lab (Expanded)",
        "Clothing (High-Fashion Fine)",
        "Snare Kit (Specialist)",
        "Palm Crossbow",
        "Diving Suit",
        "Musical Instrument (Virtuoso Heavy)",
        "Sambuca",
        "Spyglass (Fine)",
        "Superior Catch Pole",
        "Pickpocket's Tailoring",
        "Replacement Filter (Level 5)",
        "Knight's Maintenance Kit",
        "War Saddle",
        "Liar's Board",
        "Book of Translation (Advanced)",
        "Nightbreeze Machine",
        "Spirit-Singer",
        "Heated Cloak",
        "Clockwork Disguise",
        "Clockwork Diving Suit",
        "Spirit-Singer (Handheld)",
        "Clockwork Recorder",
        "Waffle Iron (Mithral)",
        "Swarmsuit (Impenetrable)",
        "Seam Winch",
        "Aquarium Lamp",
        "Camouflage Suit (Superb)",
        "Lock (Good)",
        "Manacles (Good)",
        "Handcuffs (Good)",
        "Portable Ram (Reinforced)",
        "Printing Press",
        "Replacement Filter (Level 10)",
        "Spirit-Singer (Incredible)",
        "Sprit-Singer (Incredible Handheld)",
        "Wind-up Wings (Homing)",
        "Violet Ray",
        "Steamflight Pack",
        "Waffle Iron (High-grade Mithral)",
        "Lock (Superior)",
        "Manacles (Superior)",
        "Handcuffs (Superior)",
    ]
)
